
/*--------------------------------------------------------------------------------------

Footer */

*{
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: border-box;
}
.footer-area-top{
    margin-top: 80px;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: #8bbf53;
    box-shadow: 5px 0px 10px rgba(0,0,0,0.5);
}

.footer-contact p{
    font-weight: 700;
    font-size: 1rem;
    padding: 15px 10px 0 0;

}

.footer-contact input{
    border: none;
    border-bottom: 0.1rem solid black;
    background-color: #b4e480;
    padding-top: -20px;
    position: relative;
    top: 8px;
}

.footer-contact button{
    border: none;
    border-bottom: 0.1rem solid black;
    background-color: #b4e480;
    position: relative;
    top: 8px;
}

.footer-area-bottom{
    background-color: #489140;
    height: 14rem;
}

.footer-heading{
    font-size: 1.5rem;
    font-weight:900;
    color: #000000;
}

.footer-link{
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}

.footer-link:hover{
    color: #000000;
    text-decoration: underline;
}

.footer-places{
    color: #000000;
}

.footer-area-cpr{
    bottom: 0;
    background-color: #fff;
    font-size: 0.7rem;
    height: 1.5rem;
}

.follow-us{
    size: 1rem;
    color: #000000;
}
.social-icon{
    color: #000000;
    position: relative;
    top: 9px;
}
.social-icon:hover{
    color: #000000;
}

/* Footer-Mobile */
.footer-area-mobile{
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #489140;
    box-shadow: 5px 0px 10px rgba(0,0,0,0.5);
}

.footer-contact-mobile p{
    font-weight: 700;
    font-size: 1rem;

}

.footer-logo-mobile{
    scale: 60%;
}

.footer-contact-mobile button{
    border: none;
    border-bottom: 0.1rem solid black;
    background-color: #b4e480;
    scale: 70%;
}

.footer-contact-mobile input{
    border: none;
    border-bottom: 0.1rem solid black;
    background-color: #b4e480;
    padding-top: -20px;
    scale: 70%;
}







