<app-header></app-header>
<!DOCTYPE html>
<html>
<head>
  <title>Two Images Side by Side</title>
</head>
<body>
  <div class="container1">
    <div class="image1">
      <img src="assets\image.png">
      <p class="text1">
        Social Events
      </p>
      <a routerLink="/socialevent" class=""></a>
    </div>
    <div class="image1 ">
      <img src="assets\image (1).png" >
      <p class="text1">
        Community Work
      </p>
      <a routerLink="/communitywork">
      </a>
    </div>
  </div>
</body>

<app-footer></app-footer>